.chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin: 5px;
    flex: 1;
    max-width: calc(33% - 10px);
    overflow: hidden;
    position: relative;
}

.chat-history {
    flex: 1;
    overflow-y: auto;
}

.input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
}

.input-container input {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #007bff;
    color: white;
    cursor: pointer;
}


.input-container button:hover {
    background: #0056b3;
}

.chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
}

.chat-message.user {
    background-color: #d1e7dd;
    align-self: flex-end;
    text-align: right;
    max-width: 100%;
}

.chat-message.other {
    background-color: #c8daf7;
    align-self: flex-start;
    text-align: left;
    max-width: 100%;
}

.chat-message.server {
    background-color: #7ee063;
    text-align: center;
    color: green;
    max-width: 100%;
    margin: 10px 0;
}

@media screen and (max-width: 660px) {
    .chat-container {
        flex: none;
        max-width: 100%;
        height: calc(33vh - 10px);
    }
}
