/* reset defaults */
* {
    padding: 0;
    margin: 0;
    /* overflow: hidden;  */
}

.container {
    display: flex;
    flex-direction: column;
}

.main-flexbox {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 660px) {
    .main-flexbox {
        flex-direction: column;
    }
}
