/* reset defaults */
* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.title {
    color: red;
    display: flex;
    justify-content: center;
}

.main-flexbox {
    display: flex;
    flex: 1;
}
